/* Reset some default styles */
body, h1, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

/* Style the header and navigation */
header {
    background-color: rgba(0, 0, 0, 0.5); /* Add a semi-transparent background color to improve text readability */
    color: white;
    text-align: center;
    padding: 20px;
    position: fixed; /* Make the header fixed at the top */
    width: 50%;
    top: 0;
    z-index: 1; /* Ensure the header appears above other content */
}


nav {
    text-align: center; /*Center-align the entire list horizontally*/
    display: flex;
    justify-content: center;
}
nav ul {
    list-style: none;
}

nav ul li {
    display:block;
    background-color: rgba(141, 56, 0, 0.74); /* Background color for list items */
    padding: 10px 0 10px 0; 
    transition: background-color; 
    cursor:pointer; /* Set the cursor to pointer */
    border: 1px solid #000; /* Add a border */
    width: 250px;
}
nav ul li:first-child {
    border-radius: 10px 10px 0 0; /* Add border-radius for the last list item */
}
nav ul li:last-child {
    border-radius: 0 0 10px 10px; /* Add border-radius for the last list item */
}

nav ul li:hover {
    transform: scale(1.02);
}


nav ul li:hover a {
    color: white; /*Change the background color on hover */
    font-weight: normal; /* Make text bold */
    padding: 10px; /* Add padding */
    cursor: pointer; /* Change   cursor style */
    text-shadow: 0px 0px 2px black, 0px 0px 4px black, 0px 0px 6px black, 0px 0px 8px black, 0px 0px 10px black,0px 0px 12px black;
    border:solid 1px; /* Add border-radius for the last list item */
    border-radius: 20px ; /* Add border-radius for the last list item */
}

nav ul li a {
    color: yellow;
    text-decoration:none;
    
}


@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  background: #000;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.content {
  position: relative;
}

.content h2 {
  color: #fff;
  font-size: 8em;
  position: absolute;
  transform: translate(-50%, -50%);
}

.content h2:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 2px #03a9f4;
}

.content h2:nth-child(2) {
  color: #03a9f4;
  animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
  0%,
  100% {
    clip-path: polygon(
      0% 45%,
      16% 44%,
      33% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 60%,
      15% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}
